<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Analýza voleb">
    <meta name="keywords" content="Volby, analýza, grafy">
    <meta name="author" content="Tomáš Ulrich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/common.css">
    <title> Hlavní stránka </title>
</head>

<body>
<div class="topbar">
    <a href="volby_1">Top 5</a>
    <a href="volby_2">Extrémy</a>
    <a href="volby_3">Neúplnost dat</a>
    <a href="volby_4">Mapa</a>
    <a href="/data_pro_mapu">Map_endpoint</a>
</div>
</body>