<html>
    <! -- a -->popis, jedná se navigační stránku obsahující jednotlivé odkazi na další stránky<! -- a -->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Analýza voleb">
    <meta name="keywords" content="Volby, analýza, grafy">
    <meta name="author" content="Tomáš Ulrich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <title> Hlavní stránka </title>
</head>

<body>

    <ul>
        <li>template/volby_1.html<a href="">Volby 1</a></li>
        <li>template/volby_2.html<a href="">Volby 2</a></li>
        <li>template/volby_3.html<a href="">Volby 3</a></li>
        <li>template/volby_4.html<a href="">Volby 4</a></li>
    </ul>   
</body>