<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Analýza voleb">
    <meta name="keywords" content="Volby, analýza, grafy">
    <meta name="author" content="Tomáš Ulrich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles2.css">
    <link rel="stylesheet" href="static/styles/common.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title> Volby 2 </title>
</head>

<body>
    <h1>Volby 2</h1>
    <header>
        {% include "navigace.html" %}
    </header>

    <div class="shadow">
        <div class="grid-container">
            <div class="graph" id="graph1">
                <canvas id="myChart2" width="400" height="200"></canvas>
                <script src="./static/scripts/top_prc_ucast.js"></script>
            </div>
            <div class="graph" id="graph2">
                <canvas id="myChart3" width="400" height="200"></canvas>
                <script src="./static/scripts/min_prc_ucast.js"></script>
            </div>
            <div class="graph" id="graph3">
                <canvas id="myChart4" width="400" height="200"></canvas>
                <script src="static/scripts/obec_bez_vs_s_mco.js"></script>
            </div>
        </div>
    </div>
</body>




</html>