<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Analýza voleb">
    <meta name="keywords" content="Volby, analýza, grafy">
    <meta name="author" content="Tomáš Ulrich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title> Volby 2 </title>
</head>

<body>
    <h1>Volby 2</h1>
    <header>
        {% include "navigace.html" %}
    </header>

    <div class="container">
        <div class="grid-container">
            <div class="graph" id="graph1">Graph 1
                <canvas id="myChart2" width="400" height="200"></canvas>
            </div>
            <div class="graph" id="graph2">Graph 2</div>
            <div class="graph" id="graph3">Graph 3</div>
            <div class="graph" id="graph4">Graph 4</div>
        </div>
    </div>
    <script src="./static/min_prc_ucast.js"></script>
</body>




</html>