<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Analýza voleb">
    <meta name="keywords" content="Volby, analýza, grafy">
    <meta name="author" content="Tomáš Ulrich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles4.css">
    <link rel="stylesheet" href="static/styles/common.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title> Volby 4 </title>
</head>

<body>
    <header>
        {% include "navigace.html" %}
        <a href="/data_pro_mapu", class="button"></a>
    </header>
    <div class="shadow">
        <div class="grid-container">
            <div class="graph" id="graph1">
                <div class="map-container">
                    {{ map_html|safe }}
                </div>

            </div>
        </div>
</body>




</html>