.container { /* centers div */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 95vh;
}

.topbar {
    display: inline-flex; 
    justify-content: space-around;
    align-items: center; 
    background-color: #fafafa;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

.topbar a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.topbar a:hover {
    background-color: #f0f0f0; 
}

.shadow {
    border-radius: 25px;
    border: 2px solid whitesmoke;
    background-color: #f4f4f4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#graph1 {
grid-column: 1 / span 3;
width: 1300px;
}

#graph2 {
grid-column: 2 / 1;
}

#graph3 {
grid-column: 2 / 2;
}

#graph4 {
grid-column: 3 / 3;
}

.graph {
padding: 20px;
text-align: center;
}