.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: center;
    align-items: center;
}

#graph1 {
    grid-column: 1 / 1;
}

#graph2 {
    grid-column: 1;
    grid-row: 2;
}

#graph3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.graph {
    padding: 20px;
    text-align: center;
}

.graph:hover {
    background-color: #e5e5e5; 
    transition: 0.3s;
    border-radius: 25px;
}