.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.titleDiv {
    font-size: 24px;
    grid-column: 1 / span 2;
    /* Roztáhnout na celý řádek */
    text-align: center;
    /* Zarovnání do středu */
}

.valueContainer {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.graph {
    grid-column: 1 / span 2;
    /* Roztáhnout na celý řádek */
    text-align: center;
    /* Zarovnání do středu */
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.value {
    font-size: 24px;
    /* Velikost čísel */
    margin-top: 10px;
    /* Oddělení čísla od obdélníku */
}