.container { /* centers div */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 95vh;
}

.topbar {
    display: inline-flex; /* Zobrazení prvků v řadě */
    justify-content: space-around; /* Zarovnání prvků ve vodorovné ose */
    align-items: center; /* Zarovnání prvků ve svislé ose */
    background-color: #fafafa; /* Barva pozadí */
    padding: 10px 20px; /* Výplň */
    border-bottom: 2px solid #ccc; /* Spodní ohraničení */
}

.topbar a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.topbar a:hover {
    background-color: #f0f0f0; /* Barva pozadí na najetí myši */
}

.shadow {
    height: 1000px;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    background-color: #f4f4f4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#graph1 {
grid-column: 1 / span 3;
}

#graph2 {
grid-column: 2 / 1;
}

#graph3 {
grid-column: 2 / 2;
}

#graph4 {
grid-column: 3 / 3;
}

.graph {
padding: 20px;
text-align: center;
}